# Configuración de base de datos
DB_HOST=your_host
DB_PORT=3306
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_db

# Configuración SMTP
SMTP_SERVER=your_smtp_server
SMTP_PORT=465
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password

# Seguridad de Aplicación
FLASK_SECRET_KEY=generate_a_random_secret_key
ENDPOINT_PASSWORD=choose_a_secure_endpoint_password
